{% extends 'base.html.twig' %}


{% block body %}
<style>
.prodcuts {margin: 0 auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;}
.productContainer {display: flex; gap:30px;}
</style>
<div  class='prodcuts'>
    <h1>Products</h1>
        {% for product in products %}
        <div class='productContainer'>
            <p>Name: {{product.name}}</p>
            <p>Price: {{product.price|number_format(2, '.', ',')}}</p> 
        </div>
        {% endfor %}
</div>
{% endblock %}
